.projects {
  width: 100%;
}

.projectsContainer {
  padding: 0 32px 48px 32px;
}

.customSpinner {
  position: fixed !important;
  top: calc(50% + (var(--project-toolbar) / 2));
  left: calc(50% + (var(--nav-width) / 2));
  transform: translate(-50%, -50%);
}

.button {
  padding: 8px 16px;
  height: auto;
  color: #fafafa;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  background-color: transparent;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border-color: var(--field-border);
  border-radius: 8px;
  svg {
    width: 20px;
    height: 20px;
  }
}

.radio {
  color: #fafafa;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;

  border-color: var(--field-border);
}

.placeholder {
  color: var(--thumb);
  margin: 0;
}
.buttonRed {
  height: 40px;
  min-width: 151px;
  padding-inline: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--text-button);
  border-radius: 8px;
  display: flex;
  align-items: center;
  white-space: nowrap;

  & .plus {
    height: 20px;
    width: 20px;
    position: relative;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      background: var(--text-button);
      position: absolute;
      height: 70%;
      width: 2px;
      border-radius: 5px;
    }

    &::after {
      content: "";
      background: var(--text-button);
      position: absolute;
      height: 2px;
      width: 70%;
      border-radius: 5px;
    }
  }
}

.chartTitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: var(--text-title);
  margin: 0;
}

.chartHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border);
}

.chartSection {
  margin-bottom: 40px;
}
.chartBody {
  position: relative;
}
.download {
  position: absolute;
  top: 0;
  right: 0;
}

.button {
  height: 40px;
  min-width: 151px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--text-button);
  border-radius: 8px;
  display: flex;
  align-items: center;
  white-space: nowrap;

  & .plus {
    height: 20px;
    min-width: 20px;
    position: relative;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      background: var(--text-button);
      position: absolute;
      height: 70%;
      width: 2px;
      border-radius: 5px;
    }

    &::after {
      content: "";
      background: var(--text-button);
      position: absolute;
      height: 2px;
      width: 70%;
      border-radius: 5px;
    }
  }
}

.comparisonSection {
  display: flex;
  margin-bottom: 40px;
}

.comparisonModal {
  width: 400px;
  min-height: 475px;
  max-height: 525px;
}
.close {
  height: 34px;
  width: 34px;
  padding: 10px;
  background: var(--bg-primary);
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 2;

  &::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 18px;
    border-radius: 5px;
    background: #d6d6d6;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 18px;
    border-radius: 5px;
    background: #d6d6d6;
    transform: rotate(-45deg);
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: var(--text-title);
  text-align: center;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-secondary);
  margin-bottom: 20px;
  text-align: center;
}

.buttonAdd {
  padding: 10px 18px;
  color: var(--text-button);
  background: var(--primary);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

.buttonCancel {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid var(--field-border);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--text-regular);
  display: block;
  width: 100%;
}

.modalBottom {
  margin-top: 16px;
}


.sliderBlock {
  display: flex;

  &Title{
    width: 250px;
    margin-right: 50px;
    flex-shrink: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    color: var(--text-title);
    margin-bottom: 0;
  }

  div {
    width:500px;
  }
}

.slider{
  width: 100%;
}

.modalError {
  color: var(--primary);
  // position: absolute;
}

.variableBlock {
  margin-bottom: 20px;
}

.inputWrapper {
  display: inline-flex;
  background-color: #fafafa;
  border-radius: 6px;

  &:hover *{
    border-color: #EA347E;
  }
}

.sliderContainer {
  margin-left: -5px;
  margin-right: 0;
  position: relative;

}
.sliderData{
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  color: var(--text-title);
  position: absolute;
  top: 70%;
  right: 0;
}

.scrolledContent {
  overflow: scroll;
}