.pointProperties {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.columnKey {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.columnValue {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
    flex-shrink: 1;
}

.key,
.value {
    color: var(--text-regular);
    text-overflow: ellipsis;
    overflow: hidden;
    height: 16px;
    line-height: 16px;
}