.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.backdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(52, 64, 84, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    cursor: pointer;
}

.contentContainer {
    background: var(--bg-primary);
    border-radius: 12px;
    height: 95%;
    max-height: 1155px;
    width: 100%;
    max-width: 800px;
    position: relative;
    padding: 24px 24px 16px 24px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    transform: scale(0.7);
    transition: all 0.3s;
}

.opened {
    pointer-events: auto;
}

.opened .contentContainer {
    transform: scale(1);
}