.favourite {
    height: 40px;
    width: 52px;
    border-radius: 8px;
    border: 1px solid var(--field-border);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
